@import "src/style/variables.scss";

.admin-products-container {
  overflow-y: AUTO;

  .products-wrapper {
    height: 100%;
    position: absolute;
    padding-top: 1rem;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    width: 100%;

    @include breakpoint(mddd) {
      overflow-y: scroll;
    }

    .item-container {
      display: flex;
      flex-direction: columns;
      justify-content: center;
      flex-wrap: wrap;

      @include breakpoint(sm) {
        margin-bottom: 2rem;
      }

      .items {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px solid black;
        margin-right: 2rem;
        margin-bottom: 2rem;

        .item-imgs {
          width: 250px;
          height: 250px;
        }

        .admin-btns {
          padding-bottom: 1rem;
          padding-top: 1rem;

          .edit-btn,
          .delete-btn {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            margin-left: 1rem;
            border: none;
            background-color: $univBlkBtn;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            color: #f4f4f4;
            cursor: pointer;
          }

          .edit-btn:hover,
          .delete-btn:hover {
            transition: 0.2s ease-in color;
            color: $litBrwn;
            background-color: #f4f4f4;
          }
        }
      }
    }
  }

  .products-wrapper::-webkit-scrollbar {
    display: none;
  }
}

// EDIT PRODUCT FORM STYLES HERE

.edit-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  @include breakpoint(mddd) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    img {
      height: 200px;
    }
  }

  @include breakpoint(md) {
    img {
      height: 400px;
    }
  }

  img {
    border: 1px solid black;
  }
}

#editProductForm {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include breakpoint(mddd) {
    margin-top: -4rem;
  }
}

#editProductButton {
  border: none;
  width: 7rem;
  height: 4rem;
  font-size: 1.5rem;
  background-color: $univBlkBtn;
  color: #f4f4f4;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: inherit;

  @include breakpoint(mddd) {
    margin-top: 2rem;
  }
}

.back-btn {
  button {
    border: none;
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: $univBlkBtn;
    color: #f4f4f4;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: inherit;
  }

  @include breakpoint(mddd) {
    margin-top: -2rem;
  }
}

// ADD PRODUCT BUTTON
.add-new-product {
  display: flex;
  flex-direction: column;
  align-items: center;

  .addItem-btn {
    margin: 2rem 0;
    font-family: $jost-font;
    font-size: 2rem;
    border: none;
    background-color: $univBlkBtn;
    color: white;
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .addItem-btn:hover {
    transition: 0.2s ease-in color;
    color: $litBrwn;
    background-color: #f4f4f4;
  }
}

.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  .new-product-title {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-decoration: underline;
  }

  #addProductButton {
    font-size: 1.3rem;
    font-family: $univBlkBtn;
    border: none;
    color: white;
    background-color: $univBlkBtn;
    padding: 0.4rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  @include breakpoint(mddd) {
    width: 100%;
  }
}

.back-add {
  margin-top: 1rem;
}
