@import "src/style/variables.scss";

// .Products {
//   gap:2rem;
// }

.product-items {
  // margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-btn {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .checkout-now {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: $jost-font;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    color: white;
    background-color: $univBlkBtn;
    padding: 1.2rem;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
  }
}

.removeCart-btn {
  margin-top: 1rem;
  color: white;
  border: none;
  background-color: $univBlkBtn;
  font-size: 1.5rem;
  width: 4rem;
  height: 3rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus,
.plus {
  padding: 0.3rem;
  border: none;
  background-color: $univBlkBtn;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

.productQtyInput {
  height: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: $jost-font;
  font-weight: 600;
}

.item-description {
  margin-top: 0.4rem;
  gap: 5rem;
  p {
    font-size: 1.3rem;
  }
}

.empty-cart {
  font-size: 3rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $jost-font;
  cursor: default;
}

.confirmation {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $jost-font;
  margin-top: 3rem;

  .thank-title {
    font-size: 5rem;
    cursor: default;
  }

  i {
    svg {
      font-size: 22rem;
      color: rgb(55, 226, 127);
      margin: 4rem 0;
    }
  }
}

.thanks {
  text-align: center;
  p {
    font-size: 1.5rem;
    cursor: default;
  }

  .continue {
    button {
      margin-top: 2rem;
      border: none;
      font-size: 1.5rem;
      padding: 1rem;
      border-radius: 0.4rem;
      background-color: #b06e41;
      color: white;
      font-family: inherit;
      cursor: pointer;
    }
  }
}
